@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --primary: #000000;
    --secondary: #ffffff;
    --body: #000000;
    --accent: #000000;
  }

  html{
    color-scheme: light dark;
  }
}
